<div id="lang-info">

    <i ><a href="https://aaronyang2333.github.io/resume/cn/print" style="font-size:24px;">
        <img src="https://user-images.githubusercontent.com/24391143/101964687-0f877b80-3bc7-11eb-8d20-bc84cb70ec8f.png" height="22" width="22"/>
    </a></i>
    <a href="https://aaronyang2333.github.io/resume/cn/print/index.pdf" style="font-size:24px;">PDF</a>

    <i style="font-size:22px;">&#9474;</i>
    <i ><img src="https://user-images.githubusercontent.com/24391143/77256928-63fc5c80-6c2e-11ea-9dab-18bd8026bfcb.png" height="22" width="22"/></i>
    <a href="https://aaronyang2333.github.io/resume/cn" style="font-size:24px;">中</a>

    <i style="font-size:22px;">&#9474;</i>
    <i ><img src="https://user-images.githubusercontent.com/24391143/77257196-108b0e00-6c30-11ea-838e-003aef1fd1c6.png" height="22" width="22"/></i>
    <a href="https://aaronyang2333.github.io/resume/" style="font-size:24px;">EN</a>


</div>
